.auth__wrapper {
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    height:100%;
    background-color: rgba(black, .2);
    color:white;
    z-index:2;
    .auth {
        display:flex;
        flex-direction:column;
        gap:20px;
        background-color: rgba(black, .5);
        backdrop-filter: blur(5px);
        border-radius:20px;
        padding:20px;
        .auth__header {
            display:flex;
            flex-direction:column;
            gap:5px;
            .auth__close {
                display:block;
                align-self:flex-end;
                width:25px;
                height:25px;
                background-color:white;
                mask-size: contain;
                transition:.2s;
                cursor:pointer;
                mask-image: url("/icons/form/close.svg")
            }
            .auth__close:hover {
                background-color: rgba(154, 187, 166)
            }
            .auth__select {
                display:flex;
                .auth__option {
                    color:white;
                    background-color:transparent;
                    font-size:17px;
                    border:none;
                    width:100%;
                    padding:10px;
                    border-bottom: 2px solid white;
                    font-weight:bold;
                    cursor:pointer;
                    transition: .2s;
                }
                .auth__option:hover {
                    color:  rgba(white, .5);
                }
                .auth__option.show {
                    border-bottom: 2px solid rgba(154, 187, 166);
                }
            }
        }
        .auth__content {
            position:relative;
            display:flex;
            flex-direction:column;
            align-items:center;
            gap:20px;
            .auth__info {
                display:flex;
                flex-direction:column;
                align-items:center;
                justify-content:center;
                gap:5px;
                padding:5px;
                .auth__desc {
                    letter-spacing:3px;
                }
            }   
               .auth__validation {
                display:flex;
                flex-direction:column;
                gap:10px;
                max-width: 240px;
                text-align:center;
                backdrop-filter: blur(5px);
                padding:20px;
                .auth__head {
                    font-size:20px;
                    border-bottom: 2px dashed white;
                    padding-bottom:10px;
                }
                .auth__list {
                    display:flex;
                    flex-direction:column;
                    gap:10px;
                    list-style-type:none;
                }
            }
            .auth__success {
                display:flex;
                flex-direction:column;
                align-items:center;
                background-color: rgba(black, .7);
                padding:10px;
                border-radius:25px;
                font-size:15px;
                .auth__success--info {
                    color:lightgreen;
                    font-size:17px;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .auth__wrapper {
        .auth {
            .auth__content {
                flex-direction: row;
            }
        }
    }
}
@media only screen and (min-width: 1130px) {
    .auth__wrapper {
        .auth {
            .auth__content {

                .auth__validation {
                    position: absolute;
                    right: -270px;
                    background-color: rgba(black, .8);
                }
            }
        }
    }
}