<div class="auth__wrapper">
    <div class="auth">
        <div class="auth__header">
            <span class="auth__close" @onclick="CloseForm"></span>
            <div class="auth__select">
                <button class="auth__option @(AuthOption == AuthModel.Login ? "show" : "")" @onclick="() => HandleFormModel(AuthModel.Login)">Login</button>
                <button class="auth__option @(AuthOption == AuthModel.Register ? "show" : "")" @onclick="() => HandleFormModel(AuthModel.Register)">Register</button>        
            </div>
        </div>
        <div class="auth__content">
            @if(AuthOption == AuthModel.Login)
            {
                <div class="auth__info">
                    <h1 class="auth__title">Login</h1>
                    <span class="auth__desc">Hi! Welcome back!</span>
                </div>
                <form class="auth__form">
                    <div class="auth__pair">
                        <label class="auth__label auth__label--email" for="email"></label>
                        <input class="auth__input" id="email" type="email" placeholder="Email" />
                    </div>
                    <div class="auth__pair">
                        <label class="auth__label auth__label--password" for="password"></label>
                        <input class="auth__input" id="password" type="password" placeholder="Password" />
                    </div>
                    <div class="auth__pair">
                        <input class="auth__input auth__input--submit" type="submit" value="Login" />
                    </div>
                </form>
            }
            else
            {
                <div class="auth__info">
                    <h1 class="auth__title">Register</h1>
                    <span class="auth__desc">Hi! Nice to meet you!</span>
                </div>
                <form class="auth__form">
                    <div class="auth__pair">
                        <label class="auth__label auth__label--user" for="name"></label>
                        <input class="auth__input" id="name" type="text" placeholder="Name" />
                    </div>
                    <div class="auth__pair">
                        <label class="auth__label auth__label--user" for="surname"></label>
                        <input class="auth__input" id="surname" type="text" placeholder="Surname" />
                    </div>
                    <div class="auth__pair">
                        <label class="auth__label auth__label--email" for="email"></label>
                        <input class="auth__input" id="email" type="email" placeholder="Email" />
                    </div>
                    <div class="auth__pair">
                        <label class="auth__label auth__label--password" for="password"></label>
                        <input class="auth__input" id="password" type="password" placeholder="Password" />
                    </div>
                    <div class="auth__pair">
                        <label class="auth__label auth__label--password" for="confirmed"></label>
                        <input class="auth__input" id="confirmed" type="password" placeholder="Confirmed Password" />
                    </div>
                    <div class="auth__pair">
                        <input class="auth__input auth__input--submit" type="submit" value="Register" />
                    </div>
                </form>
            }          
        </div>
    </div>
</div>