.auth__wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  z-index: 2;
}
.auth__wrapper .auth {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 20px;
}
.auth__wrapper .auth .auth__header {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.auth__wrapper .auth .auth__header .auth__close {
  display: block;
  align-self: flex-end;
  width: 25px;
  height: 25px;
  background-color: white;
  mask-size: contain;
  transition: 0.2s;
  cursor: pointer;
  mask-image: url("/icons/form/close.svg");
}
.auth__wrapper .auth .auth__header .auth__close:hover {
  background-color: rgb(154, 187, 166);
}
.auth__wrapper .auth .auth__header .auth__select {
  display: flex;
}
.auth__wrapper .auth .auth__header .auth__select .auth__option {
  color: white;
  background-color: transparent;
  font-size: 17px;
  border: none;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}
.auth__wrapper .auth .auth__header .auth__select .auth__option:hover {
  color: rgba(255, 255, 255, 0.5);
}
.auth__wrapper .auth .auth__header .auth__select .auth__option.show {
  border-bottom: 2px solid rgb(154, 187, 166);
}
.auth__wrapper .auth .auth__content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.auth__wrapper .auth .auth__content .auth__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 5px;
}
.auth__wrapper .auth .auth__content .auth__info .auth__desc {
  letter-spacing: 3px;
}
.auth__wrapper .auth .auth__content .auth__validation {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  right: -270px;
  max-width: 240px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
  padding: 20px;
}
.auth__wrapper .auth .auth__content .auth__validation .auth__head {
  font-size: 20px;
  border-bottom: 2px dashed white;
  padding-bottom: 10px;
}
.auth__wrapper .auth .auth__content .auth__validation .auth__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style-type: none;
}
.auth__wrapper .auth .auth__content .auth__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 25px;
  font-size: 15px;
}
.auth__wrapper .auth .auth__content .auth__success .auth__success--info {
  color: lightgreen;
  font-size: 17px;
}

@media only screen and (min-width: 768px) {
  .auth__wrapper .auth .auth__content {
    flex-direction: row;
  }
}
