<nav class="nav">
    <div class="nav__wrapper">
        <header class="nav__header">
            <img class="nav__avatar" src="/icons/nav/avatar.svg"/>
            <h1 class="nav__name">Not logged</h1>
            <ul class="nav__list nav__list--header">
                <li>
                    <img class="nav__avatar" src="/icons/nav/arrowdown.svg" alt="Empty avatar" />
                    <ul class="nav__list nav__list--nested">
                        <li>Login</li>
                        <li>Register</li>
                    </ul>
                </li>
            </ul>
        </header>
        <ul class="nav__list nav__list--main">
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/tasks.svg" alt="Task icon" />
                <span class="nav__sp">Tasks</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/avatar.svg" alt="Friend icon" />
                <span class="nav__sp">Friends</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/messages.svg" alt="Messages icon" />
                <span class="nav__sp">Messages</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/notification.svg" alt="Notification icon" />
                <span class="nav__sp">Notification</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/export.svg" alt="Export icon" />
                <span class="nav__sp">Export Tasks</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/import.svg" alt="Import icon" />
                <span class="nav__sp">Import tasks</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/settings.svg" alt="Settings icon" />
                <span class="nav__sp">Settings</span>
            </li>
            <li class="nav__element">
                <img class="nav__icon" src="/icons/nav/github.svg" alt="Github icon" />
                <span class="nav__spo">Author</span>
            </li>
        </ul>
    </div>
    <footer class="nav__footer">
        <img class="nav__logo" src="/favicon.png" alt="Logo"/>
        <div class="nav__header--footer">
            <h1 class="nav__title">Task Tracker</h1>
            <div class="nav__description">
                <span>Plan</span>
                <span>Track</span>
                <span>Achieve</span>
            </div>
        </div>
    </footer>
</nav>