.main {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("images/home/main.webp");
    font-family: "now";
    user-select: none;

    .main__background {
        position: absolute;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(4px) grayscale(20%);
    }

    .main__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        width: 100%;
        height: 100%;

        .main__link {
            font-size: 18px;
            color: white;
            background-color: rgba(white, .2);
            padding: 15px 20px 15px 20px;
            backdrop-filter: blur(5px);
            border-radius: 25px;
            cursor:pointer;
            transition: .2s
        }

            .main__link:hover {
                background-color: rgba(black, .2);
            }

        .main__header {
            display: flex;
            justify-content: flex-end;

            .main__auth {
                display: flex;
                gap: 10px;
            }
        }

        .main__articles {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;

            .main__article {
                background-color: rgba(black,.5);
                max-width: 400px;
                border-radius: 20px;
                overflow: hidden;

                .main__article--header {
                    padding: 20px 10px 10px 20px;
                    color: white;
                    transition: .2s;
                    cursor:pointer;
                    font-size:25px
                }
                .main__article--header:hover {
                    background-color:rgba(white, .2);
                }
                .main__text--wrapper {
                    max-height: 0px;
                    transition: .4s;
                }
                .main__text--wrapper.show {
                    max-height:300px;
                }
                .main__text {
                    font-size: 18px;
                    color: white;
                    padding:15px;
                    line-height: 30px;
                }
            }
        }

        .main__footer {
            display:flex;
            flex-direction:column;
            align-items:center;
            .main__title {
                display: flex;
                align-items: center;

                .main__logo {
                    width: 180px;
                }

                .main__footer--header {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: white;

                    .main__description {
                        display: flex;
                        gap: 10px;
                        color: rgba(white, .8);
                    }
                }
            }
            .main__try {
                display:flex;
                flex-direction:column;
                align-items:center;
                gap:10px;
                .main__link--footer {
                    font-size:30px;
                    width: 300px;
                    text-align:center;
                }
                .main__without {
                    cursor:pointer;
                    transition:.2s;
                }
                .main__without:hover {
                    color:white;
                }
            }
        }
    }
}
@media only screen and (min-width: 768px) {
    .main {
        .main__content {
            padding: 20px 50px 20px 50px;
            .main__articles {
                flex-direction:row !important;
                justify-content:space-evenly;
                .main__article {
                    min-height:272px !important;
                }
                .main__text--wrapper {
                    max-height:500px !important;
                }
            }
            .main__footer {
                flex-direction:row !important;
                justify-content:space-between;
            }
        }
    }
}